/* FADE */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-to,
.fade-leave-from {
    opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .2s ease;
}


/* NOENDFADE */
.noEndfade-enter-from,
.noEndfade-leave-to {
    opacity: 0;
}

.noEndfade-enter-active,
.noEndfade-leave-active {
    transition: all .2s ease;
}

/* CART SLIDE */
.cartSlide-enter-active,
.cartSlide-leave-active {
    transition: all 0.25s ease;
}

.cartSlide-enter-from,
.cartSlide-leave-to {
    transform: translateX(20%);
    opacity: 0;
}

.cartSlide-enter-to,
.cartSlide-leave-from{
    transform: translateX(0);
    opacity: 1;
}