/* FONT */
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Rubik');

/* #region  SEARCH BOX */
.search {
    /* VARIABLES */
    --background: #ffffff;
    --text-color: #414856;
    --primary-color: #4F29F0;
    --border-radius: 9999px;
    --height: 55px;


    position: relative;
    display: flex;
    width: auto;

    background: var(--background);
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);

    /* Clean corners */
    overflow: hidden;
    border-radius: var(--border-radius);
}

.search input[type="text"] {
    position: relative;
    width: 3rem;
    height: 100%;
    color: var(--text-color);
    border: 0;
    box-sizing: border-box;
    outline: none;
    padding: 0 0 0 50px;
    transition: width .6s ease;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.search input[type="text"]:focus {
    z-index: 0;
    opacity: 1;
    width: 300px;
}


/* SYMBOL ACTIVITIES */

/* SYMBOL CONTAINER */
.search .symbol {
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}

.search .symbol:before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    -webkit-transition: width .6s ease;
    transition: width .6s ease, background .1s ease;
    border-radius: 9999px;
}

.search:hover .symbol::before {
    background: #7e65ee;
}


/* REACT TO INPUT FIELD SELECT */
.search input[type="text"]:focus~.symbol::before {
    width: 0%;
}

.search input[type="text"]:focus~.symbol:after {
    -webkit-clip-path: inset(0% 0% 0% 100%);
    clip-path: inset(0% 0% 0% 100%);
    -webkit-transition: -webkit-clip-path .04s linear .105s;
    transition: -webkit-clip-path .04s linear .105s;
    transition: clip-path .04s linear .105s;
    transition: clip-path .04s linear .105s, -webkit-clip-path .04s linear .105s;
}



/* SVGS */
.search .symbol .lens {
    position: absolute;
    stroke: none;
    width: 23px;
    height: 23px;
    z-index: 2;


    fill: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top .3s ease, left .3s ease, transform .3s ease, fill .2s ease .2s, width .3s ease, height .3s ease;

}

.search input[type="text"]:focus~.symbol .lens {
    width: 23px;
    height: 23px;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    fill: var(--primary-color);
    transition: top .5s ease .1s, left .5s ease .1s, transform .3s ease .1s, fill .3s ease, width .3s ease, height .3s ease;
}

/* #endregion */

/* #region  SCROLLBAR */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* FIREFOX */
body {
    scrollbar-color: #ffffff #dedede;
    scrollbar-width: thin;
}

.scrollBar::-webkit-scrollbar {
    width: 8px;
}

.scrollBar::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 10px;
}

.scrollBar::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a;
}

.scrollBar::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* FIREFOX */
.scrollBar {
    scrollbar-color: #ffffff #dedede;
    scrollbar-width: thin;
}

/* #endregion */

/* #region  NAVBAR THINGS */
nav::before {
    content: '';
    position: absolute;
    background-color: #eeeeeee7;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(10px);
}

.router-link-exact-active,
#navLinkRow a:hover {
    color: black !important;
}

#navLinkRow a {
    color: #8b8b8b;
    transition: color .1s ease;
}

.router-link-active.itemPage {
    color: black !important;
}

.popDown {
    top: 72px;
    height: auto;
    opacity: 1;
    transform: translateY(0);
}


.selectorSlide-enter-active,
.selectorSlide-leave-active {
    transition-duration: .25s;
    transition-timing-function: ease;
    transition-property: transform, opacity;
}

.selectorSlide-enter,
.selectorSlide-leave-to {
    transform: translateY(-10%);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/* #endregion */

/* #region  CENTERING */
.horizontalCenter {
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 1024px) {
    .onlyVerticalCenter {
        top: 50%;
        transform: translateY(-50%);
    }
}

.verticalCenter {
    top: 50%;
    transform: translateY(-50%);
}

.bothCenter {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* #endregion */

/* #region  TRANSITIONS */
.fade-enter-to,
.fade-leave {
    opacity: 1;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: all .2s ease;
}

.noEndfade-enter,
.noEndfade-leave-to {
    opacity: 0;
}

.noEndfade-enter-active,
.noEndfade-leave-active {
    transition: all .2s ease;
}

/* #endregion */

/* #region  Contact Form */
#contactForm div textarea {
    resize: none;
}

#contactForm div input[type="text"],
#contactForm div textarea {
    border-bottom-width: 2px;
    transition-property: border-color;
    transition-duration: 100ms;
    padding: 0.5rem;
    width: 100%;
}

#contactForm div input[type="text"]:focus,
#contactForm div textarea:focus {
    border-color: #b794f4;
}

#contactForm div input[type="text"]::placeholder,
#contactForm div textarea::placeholder {
    color: transparent;
}

/* STANDARD */
#contactForm div label {
    top: 0;
    position: absolute;
    left: 8px;
    font-weight: bold;
    transition: .3s ease;
    cursor: text;
    color: #00000052;
}

/* DOWNSTAIRS */
#contactForm div input[type="text"]:placeholder-shown~label,
#contactForm div textarea:placeholder-shown~label {
    font-size: 1.2rem;
    top: 20px;
}

/* UPSTAIRS */
#contactForm div input:focus~label,
#contactForm div textarea:focus~label {
    top: 0;
    font-size: 1rem;
    cursor: text;
    color: #4d0eb98f;
}

/* #endregion */

/* #region  Gender Selector Background */

.genderSelectorBackground::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    filter: saturate(1) brightness(1);
    transition: filter .3s ease;
}

.genderSelectorBackground:hover::before {
    filter: saturate(0) brightness(.7);
}

.genderSelectorframesmen::before {
    background-image: url("https://www.opticalexpress.co.uk/media/1064/man-with-glasses-smiling-looking-into-distance.jpg");
}

.genderSelectorframeswomen::before {
    background-image: url("https://i.pinimg.com/originals/be/f5/e8/bef5e818dc7b3bf0b460c14c80c31238.jpg");
}

.genderSelectorsunglassesmen::before {
    background-image: url("https://www.rankandstyle.com/media/lists/m/mens-sunglasses_0Em6i7u.jpg");
}

.genderSelectorsunglasseswomen::before {
    background-image: url("https://img.alicdn.com/imgextra/i1/685741170/TB22TuWuL5TBuNjSspcXXbnGFXa_!!685741170.jpg");
}

/* #endregion */


html {
    scroll-behavior: smooth;
}

.noOutline:focus {
    outline: none;
}

.maxWidthPage {
    max-width: 1536px;
    margin: auto;
}

.maxerWidthPage {
    max-width: 1920px;
    margin: auto;
}

[v-cloak] {
    display: none;
}