/* #region  SEARCH BOX */
.search {
    /* VARIABLES */
    --background: #ffffff;
    --text-color: #414856;
    --primary-color: #4F29F0;
    --border-radius: 9999px;
    --height: 55px;


    position: relative;
    display: flex;
    width: auto;

    background: var(--background);
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);

    /* Clean corners */
    overflow: hidden;
    border-radius: var(--border-radius);
}

.search input[type="text"] {
    position: relative;
    width: 3rem;
    height: 100%;
    color: var(--text-color);
    border: 0;
    box-sizing: border-box;
    outline: none;
    padding: 0 0 0 50px;
    transition: width .6s ease;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
}

.search input[type="text"]:focus {
    z-index: 0;
    opacity: 1;
    width: 300px;
}


/* SYMBOL ACTIVITIES */

/* SYMBOL CONTAINER */
.search .symbol {
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}

.search .symbol:before {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-color);
    z-index: -1;
    -webkit-transition: width .6s ease;
    transition: width .6s ease, background .1s ease;
    border-radius: 9999px;
}

.search:hover .symbol::before {
    background: #7e65ee;
}


/* REACT TO INPUT FIELD SELECT */
.search input[type="text"]:focus~.symbol::before {
    width: 0%;
}

.search input[type="text"]:focus~.symbol:after {
    -webkit-clip-path: inset(0% 0% 0% 100%);
    clip-path: inset(0% 0% 0% 100%);
    -webkit-transition: -webkit-clip-path .04s linear .105s;
    transition: -webkit-clip-path .04s linear .105s;
    transition: clip-path .04s linear .105s;
    transition: clip-path .04s linear .105s, -webkit-clip-path .04s linear .105s;
}



/* SVGS */
.search .symbol .lens {
    position: absolute;
    stroke: none;
    width: 23px;
    height: 23px;
    z-index: 2;


    fill: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top .3s ease, left .3s ease, transform .3s ease, fill .2s ease .2s, width .3s ease, height .3s ease;

}

.search input[type="text"]:focus~.symbol .lens {
    width: 23px;
    height: 23px;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    fill: var(--primary-color);
    transition: top .5s ease .1s, left .5s ease .1s, transform .3s ease .1s, fill .3s ease, width .3s ease, height .3s ease;
}

/* #endregion */

/* #region  SCROLLBAR */
body::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

body::-webkit-scrollbar-thumb {
    background: #dedede;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #b8b8b8;
}

body::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* FIREFOX */
body {
    scrollbar-color: #ffffff #dedede;
    scrollbar-width: thin;
}

/* #endregion */

/* #region  NAVBAR THINGS */
nav::before {
    content: '';
    position: absolute;
    background-color: #eeeeeee7;
    width: 100%;
    height: 100%;
    z-index: -1;
    backdrop-filter: blur(10px);
}

/* LINE NAV ROW */
#navLinkRow .line {
    width: 50px;
    height: 2px;
    background-color: #252525;
    position: absolute;
    bottom: 0;

    transition: .4s cubic-bezier(.65, .05, .36, 1);
}

/* General Case
#navLinkRow a:nth-child(n):hover~.line {
    left: calc((100% / (2*var(--navBarItems))) * ( (2 * n) - 1));
    transform: translateX(-50%);
} */

#navLinkRow a:nth-child(1):hover~.line,
.origin1 {
    left: 10%;
    transform: translateX(-50%);
}

#navLinkRow a:nth-child(2):hover~.line,
.origin2 {
    left: 20%;
    transform: translateX(-50%);
}

#navLinkRow a:nth-child(3):hover~.line,
.origin3 {
    left: 30%;
    transform: translateX(-50%);
}

#navLinkRow a:nth-child(4):hover~.line,
.origin4 {
    left: 40%;
    transform: translateX(-50%);
}

#navLinkRow a:nth-child(5):hover~.line,
.origin5 {
    left: 50%;
    transform: translateX(-50%);
}

#navLinkRow a:nth-child(6):hover~.line,
.origin6 {
    left: 60%;
    transform: translateX(-50%);
}

.popDown {
    top: 72px;
    height: auto;
    opacity: 1;
    transform: translateY(0);
}


.selectorSlide-enter-active,
.selectorSlide-leave-active {
    transition-duration: .5s;
    transition-timing-function: ease;
    transition-property: transform, opacity;
}

.selectorSlide-enter,
.selectorSlide-leave-to {
    transform: translateY(-50%);
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/* #endregion */


.footerMain {
    width: 95%;
    max-width: 1575px;
}

.horizontalCenter {
    left: 50%;
    transform: translateX(-50%);
}

.verticalCenter {
    top: 50%;
    transform: translateY(-50%);
}

.noOutline:focus {
    outline: none;
}

.hoverLarge{
    transition: .2s ease;
}
.hoverLarge:hover{
    transform: scale(1.1);
}


/* #region  PAGE TRANSITION */
.pageTransition-enter-to,
.pageTransition-leave {
    transform: translateY(0px);
    opacity: 1;
}

.pageTransition-enter,
.pageTransition-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

.pageTransition-enter-active,
.pageTransition-leave-active {
    transition: all .3s ease;
}
/* #endregion */



/* #region  Contact Form */
#contactForm div textarea {
    resize: none;
}

#contactForm div input[type="text"],
#contactForm div textarea {
    border-bottom-width: 2px;
    transition-property: border-color;
    transition-duration: 100ms;
    padding: 0.5rem;
    width: 100%;
}

#contactForm div input[type="text"]:focus,
#contactForm div textarea:focus {
    border-color: #b794f4;
}

#contactForm div input[type="text"]::placeholder,
#contactForm div textarea::placeholder {
    color: transparent;
}

/* STANDARD */
#contactForm div label {
    top: 0;
    position: absolute;
    left: 8px;
    font-weight: bold;
    transition: .3s ease;
    cursor: text;
    color: #00000052;
}

/* DOWNSTAIRS */
#contactForm div input[type="text"]:placeholder-shown~label,
#contactForm div textarea:placeholder-shown~label {
    font-size: 1.2rem;
    top: 20px;
}

/* UPSTAIRS */
#contactForm div input:focus~label,
#contactForm div textarea:focus~label {
    top: 0;
    font-size: 1rem;
    cursor: text;
    color: #4d0eb98f;
}

/* #endregion */